{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}

{% block body %}
{% if app.user %}
<header class="border border-1 border-black py-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 d-flex flex-column ps-5">
                <img src="{{ asset('images/logo/logo.png') }}" alt="Logo" style="width: 150px; margin-left:2.5vw">
                <small class="text-muted fs-5 fw-light">Don't compromise on your look</small>
            </div>
            <div class="col-md-9 d-flex justify-content-end pe-5">
                <nav class="d-flex fs-4 fw-light gap-5">
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('app_admin') }}" class="text-decoration-none text-dark">Back-office</a>
                    {% endif %}
                    <a href="{{ path('app_home') }}" class="text-decoration-none text-dark">Accueil</a>
                    <a href="{{ path('app_list_product') }}" class="text-decoration-none text-dark">Boutique</a>
                    <a href="{{ path('app_cart') }}" class="text-decoration-none text-dark fw-bold text-decoration-underline">Panier</a>
                    <a href="{{ path('app_logout') }}" class="text-decoration-none text-dark">Se déconnecter</a>
                </nav>
            </div>
        </div>
    </div>
</header>
{% endif %}

<div class="border-end border-bottom border-start border-1 border-black pb-5" style="min-height: 80vh;">
    <div class="container py-5">
        <h2 class="mb-4 fs-3 fw-light ">Votre panier</h2>

        {% if cartDetails is empty %}
            <p class="fs-3 fw-light">Votre panier est vide.</p>
        {% else %}
            {% for item in cartDetails %}
                {% set sweatshirt = item.product %}
                <div class="row border border-1 border-black p-3 mb-3 align-items-center">
                    <div class="col-md-2">
                        <img src="{{ asset('images/sweatshirt/' ~ sweatshirt.getImageName) }}" alt="{{ sweatshirt.name }}">
                    </div>
                    <div class="col-md-6">
                        <h5 class="fs-4 fw-light">{{ sweatshirt.name }}</h5>
                        <p class="mb-1 fs-5 fw-light">Prix unitaire : {{ (sweatshirt.price / 100)|number_format(2, ',', ' ') }} €</p>
                        <p class="mb-1 fs-5 fw-light">Taille : {{ item.size.name }}</p>
                        <div class="d-flex align-items-center">
                            <a href="{{ path('cart_decrease', { productId: item.product.id, sizeId: item.size.id }) }}" class="btn btn-sm btn-outline-secondary me-2">-</a>
                            <span>{{ item.quantity }}</span>
                            <a href="{{ path('cart_increase', { productId: item.product.id, sizeId: item.size.id }) }}" class="btn btn-sm btn-outline-secondary ms-2">+</a>
                        </div>
                    </div>
                    <div class="col-md-4 text-end">
                        {{ form_start(forms[loop.index0], {
                            'method': 'DELETE',
                            'attr': {'style': 'display:inline'}
                        }) }}
                        <button type="submit" class="btn btn-outline-danger">Retirer du panier</button>
                        {{ form_end(forms[loop.index0]) }}
                        </div>
                </div>
            {% endfor %}

            <div class="d-flex justify-content-between align-items-center mt-4">
                <div>
                    <strong class="fs-3 fw-light">
                        TOTAL : {{ (total / 100) | number_format(2, ',', ' ') }} €
                    </strong>
                </div>
                <div class="d-flex gap-3">
                    <a href="{{ path('app_list_product') }}" class="btn btn-success">Continuer mes achats</a>
                    <form action="{{ path('stripe_checkout') }}" method="POST">
                        <button type="submit" class="btn btn-danger">Finaliser ma commande</button>
                    </form>
                </div>
            </div>
        {% endif %}
    </div>

    <footer class="border border-1 border-black py-2" style="margin:0.5vw">
            <p class="fs-6 fw-light" style="margin-left:2vw; margin-top:1vh">Nom de la société : Stubborn </p>
            <p class="fs-6 fw-light" style="margin-left:2vw">Adresse : Piccadilly Circus, London W1J 0DA, Royaume-Uni </p>
            <p class="fs-6 fw-light" style="margin-left:2vw">Adresse de contact : stubborn@blabla.com </p>
            <p class="fs-6 fw-light" style="margin-left:2vw">Slogan: Don't compromise on your look </p>
    </footer>
</div>
{% endblock %}